body {
  text-align: center;
  font-size: 30px;
  color: white;
  background: #ff4b1f;
  background: -webkit-linear-gradient(to right, #1fddff, #ff4b1f);
  background: linear-gradient(to right, #1fddff, #ff4b1f);
}

h3 {
  background-color: grey;
  padding: 20px;
  margin: 200px;
  color: black;
}



.jumbotron {
  height: 100vh;
  text-align: center;
  font-size: 30px;
  color: white;
  background: #ff4b1f;
  background: -webkit-linear-gradient(to right, #1fddff, #ff4b1f);
  background: linear-gradient(to right, #1fddff, #ff4b1f);
}
